html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    background-color: rgb(212, 209, 209);
}
* {
    box-sizing: border-box;
}
.header-container {
    background-color: #FFFFFF;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    position: sticky;
    top: 0;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.logo {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
h1 {
    font-family: 'Alike Angular', serif;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 400;
    color: #545454;
    margin-bottom: 10px;
    margin-top: 0px;
}
.logo-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 14.95px;
    font-weight: 400;
    color: #292929;
    text-align: center;
    margin-bottom: 0px;
}
a {
    text-decoration: none;
}
nav {
    margin-left: auto;
    margin-top: 46px;
    margin-right: 40px;
    height: 27px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #545454;
}
.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}
#active-nav-link {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    cursor: pointer;
}
.nav-link {
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #545454;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
.friends-container {
    font-family: 'Alike Angular', serif;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 1280px;
    background-color: #F6F6F6;
    align-items: center;
}
.friends-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    max-width: 400px;
    height: 90px;
    margin-top: 80px;
    color: #545454;
    text-align: center;
}
.friends-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 40px;
}
.friends-card-images {
    width: 270px;
    height: 270px;
}
.friends-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 270px;
    height: 435px;
    align-items: center;
    background-color: #FAFAFA;
    cursor: pointer;
}
.friends-card:hover {
    background-color: #FFFFFF;
}
.friends-card:hover .friends-card-button {
    background-color: #F1CDB3;
    border-width: 0px;
}
.friends-card-text {
    font-size: 20px;
    line-height: 22.72px;
    text-align: center;
    color: #545454;
}
.friends-card-button {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    color: #292929;
    width: 187px;
    height: 52px;
    border-width: 3px;
    border-radius: 30px;
    border-color: #FDDCC4;
    cursor: pointer;
}
.friends-card-button:hover {
    background-color: #FDDCC4;
    border: none;
}
.friends-arrows {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 100px;
}
.arrow-button-disabled {
    border: solid #CDCDCD;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border-width: 2px;
    text-align: center;
    padding-top: 10px;
    color: #CDCDCD;
    letter-spacing: 2px;
}
.arrow-button-active {
    background-color: #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    color: #292929;
    cursor: pointer;
}
.arrow-button {
    border: solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border-width: 2px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
    color: #292929;
    cursor: pointer;
}
.arrow-button:hover {
    background-color: #F1CDB3;
}
.footer-container {
    background-image: url(../../assets/images/footer-background.jpg);
    display: flex;
    gap: 160px;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}
.footer-first-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 56px;
    margin-left: 40px;
    width: 278px;
    height: 234px;
    margin-bottom: 60px;
}
.footer-second-column {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 302px;
    height: 234px;
}
.footer-title {
    font-family: 'Alike Angular', serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 45.5px;
    color:#FFFFFF;
}
.contacts-area {
    display: flex;
    gap: 15px;
    align-items: center;
}
.contacts-field {
    font-family: 'Alike Angular', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    color: #F1CDB3;
    
}
.adr-image {
    background-image: url(../../assets/icons/footer-icon-marker.svg);
    width: 22px;
    height: 32px;
}
.footer-dog-image {
    background-image: url(../../assets/icons/footer-puppy.svg);
    width: 300px;
    height: 310px;
    align-items: none;
    align-self: flex-end;
}
.link-scroll {
    position: absolute;
}