html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    background-color: rgb(212, 209, 209);
}
.delete-scroll {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.header-container {
    background: url(../../assets/images/transparent-bg.png),
    radial-gradient(92% 180.42% at 0% 0%, #5b483a 55%, #262425 112%), #211f20;
    background-position: center 0px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.area-under-menu {
    width: 100%;
    height: 100vh;
    display: none;
}
.area-under-menu-for-burger {
    width: 100%;
    height: 100vh;
    display: none;
}
.area-under-menu-active {
    position: fixed;
    cursor: pointer;
    z-index: 98;
    display: block;
    background-color: rgba(41, 41, 41, 0.6);
}
.area-under-menu-active:hover .popup-out {
    background-color: #FDDCC4;
    border: none;
}
.logo {
    z-index: 100;
    margin-left: 40px;
    margin-top: 60px;
    cursor: pointer;
}
h1 {
    font-family: 'Alike Angular', serif;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 400;
    color: #F1CDB3;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.logo-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 14.95px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
}
nav {
    margin-left: auto;
    margin-top: 76px;
    margin-right: 40px;
    height: 27px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
.b1, .b2, .b3 {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
    border-radius: 10px;
    transition: 0.3s;
    display: none;
}
.change .b1 {
    transform: rotate(-90deg) translate(-10px, 23px);
}
.change .b3 {
    transform: rotate(90deg) translate(-16px, 3px);
}
.change .b2 {
    transform: rotate(90deg) translate(-3px, -10px);
}
.close-burger-menu {
    display: none;
}
.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}
#active-nav-link {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    cursor: pointer;
}
.nav-link {
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
.hero-container {
    background: url(../../assets/images/transparent-bg.png),
    radial-gradient(92% 295.42% at 0% 0%, #5b483a 20%, #262425 100%), #211f20;
    background-position: center;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 42px;
    margin-top: 223px;
    max-width: 460px;
}
.hero-title {
    font-family: 'Alike Angular', serif;
    font-size: 43.3px;
    font-weight: 400;
    line-height: 57px;
    color:#FFFFFF;
    max-width: 310px;
}
.hero-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15.6px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.hero-button {
    font-family: 'Alike Angular', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #292929;
    border-width: 0px;
    border-radius: 30px;
    background-color: #F1CDB3;
    width: 207px;
    height: 52px;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #FDDCC4;
}
.puppy {
    display: block;
    margin-top: 4.6875%;
    margin-left: 3.28125%;
}
.about {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    max-width: 1280px;
    gap: 120px;
}
.about-icon {
    background-image: url(../../assets/icons/about-pets.svg);
    width: 300px;
    height: 408px;
    margin-bottom: 100px;
    margin-top: 80px;
}
.about-info {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    height: 380px;
    align-self: center;
    gap: 25px;
}
.about-title {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    color: #545454;
    font-size: 35px;
}
.about-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #4C4C4C;
}
.friends-container {
    position: relative;
    font-family: 'Alike Angular', serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 60px;
    max-width: 1280px;
    background-color: #F6F6F6;
    align-items: center;
}
.friends-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    max-width: 400px;
    height: 90px;
    margin-top: 80px;
    color: #545454;
    text-align: center;
}
.friends-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}
.modale-window-close {
    display: none;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: fit-content;
    background-color: #FAFAFA;
    gap: 30px;
}
.modale-window-active {
    z-index: 100;
    display: flex;
}
.modale-image {
    max-width: 500px;
    height: auto;
}
.modale-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    margin-top: 50px;
    color: black;
    letter-spacing: 1px;
}
.modale-title {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modale-under-title {
    font-size: 20px;
    line-height: 23px;
}
.modale-text {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    font-size: 15px;
    line-height: 17px;
}
.modale-parameters {
    font-size: 15px;
    line-height: 16.5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup-out {
    background-image: url(../../assets/icons/close-popup.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position :absolute;
    border: solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    top: -52px;
    right: -52px;
    cursor: pointer;
}
.popup-out:hover {
    background-color: #FDDCC4;
    border: none;
}
.friends-card-images {
    width: 270px;
    height: 270px;
}
.friends-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    width: 270px;
    height: 435px;
    align-items: center;
    background-color: #FAFAFA;
    cursor: pointer;
}
.friends-card:hover {
    background-color: #FFFFFF;
}
.friends-card:hover .friends-card-button {
    background-color: #F1CDB3;
    border-width: 0px;
}
.friends-card-text {
    font-size: 20px;
    line-height: 22.72px;
    text-align: center;
    color: #545454;
}
.friends-card-button {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    color: #292929;
    width: 187px;
    height: 52px;
    border-width: 3px;
    border-radius: 30px;
    border-color: #FDDCC4;
    cursor: pointer;
}
.friends-card-button:hover {
    background-color: #FDDCC4;
    border: none;
}
.friends-button {
    font-family: 'Alike Angular', serif;
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    border-width: 0px;
    border-radius: 30px;
    background-color: #F1CDB3;
    width: 261px;
    height: 52px;
    cursor: pointer;
    margin-bottom: 100px;
}
.friends-button:hover {
    background-color: #FDDCC4;
}
.left-arrow {
    background-image: url(../../assets/icons/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position :absolute;
    border: solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    top: 422px;
    left: 40px;
    cursor: pointer;
}
.left-arrow:hover {
    background-color: #FDDCC4;
    border: none;
}
.right-arrow {
    background-image: url(../../assets/icons/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position :absolute;
    border: solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    top: 422px;
    right: 40px;
    cursor: pointer;
}
.right-arrow:hover {
    background-color: #FDDCC4;
    border: none;
}
.help-container {
    font-family: 'Alike Angular', serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 60px;
    background-color: #FFFFFF;
}
.first-image-help {
    background-image: url(../../assets/icons/icon-pet-food.svg);
    width: 60px;
    height: 60px;
}
.second-image-help {
    background-image: url(../../assets/icons/icon-transportation.svg);
    width: 60px;
    height: 60px;
}
.third-image-help {
    background-image: url(../../assets/icons/icon-toys.svg);
    width: 60px;
    height: 60px;
}
.fourth-image-help {
    background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
    width: 60px;
    height: 60px;
}
.fiveth-image-help {
    background-image: url(../../assets/icons/icon-shampoos.svg);
    width: 60px;
    height: 60px;
}
.six-image-help {
    background-image: url(../../assets/icons/icon-vitamins.svg);
    width: 60px;
    height: 60px;
}
.seventh-image-help {
    background-image: url(../../assets/icons/icon-medicines.svg);
    width: 60px;
    height: 60px;
}
.eighth-image-help {
    background-image: url(../../assets/icons/icon-collars-leashes.svg);
    width: 60px;
    height: 60px;
}
.nineth-image-help {
    background-image: url(../../assets/icons/icon-sleeping-area.svg);
    width: 60px;
    height: 60px;
}
.help-images {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    margin-bottom: 100px;
}
.help-container-with-cards-768px {
    display: none;
}
.help-cards {
    font-family: 'Alike Angular', serif;
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.in-addition-container {
    font-family: 'Alike Angular', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #F6F6F6;
}
.addition-dog-image {
    width: 505px;
    height: 261px;
    margin-top: 91px;
    margin-bottom: 110px;
}
.donation-zone {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
    height: 282px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.in-addition-title {
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    max-width: 300px;
    height: 90px;
    color: #545454;
    text-align: left;
}
.small-donation-text {
    font-size: 15px;
    line-height: 16.5px;
    color: #545454;
}
.donation-card-area {
    display: flex;
    max-width: 349px;
    background-color: #F1CDB3;
    border-radius: 10px;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.donation-card-area:hover {
    background-color: #FDDCC4;
}
.card-image {
    background-image: url(../../assets/icons/credit-card.svg);
    width: 30px;
    height: 23px;
    margin-left: 15px;
}
.card-number {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #545454;
    letter-spacing: 2px;
    text-decoration: none;
}
.big-donation-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 13px;
    line-height: 18px;
    color: #B2B2B2;
}
.footer-container {
    background: url(../../assets/images/transparent-bg.png),
    radial-gradient(86% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}
.footer-first-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 56px;
    margin-left: 40px;
    width: 278px;
    height: 234px;
    margin-bottom: 60px;
}
.footer-second-column {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 302px;
    height: 234px;
}
.footer-title {
    font-family: 'Alike Angular', serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 45.5px;
    color:#FFFFFF;
}
.contacts-area {
    display: flex;
    gap: 15px;
    align-items: center;
}
.contacts-field {
    font-family: 'Alike Angular', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    color: #F1CDB3;
    
}
.adr-image {
    background-image: url(../../assets/icons/footer-icon-marker.svg);
    width: 22px;
    height: 32px;
}
.footer-dog-image {
    background-image: url(../../assets/icons/footer-puppy.svg);
    width: 300px;
    height: 310px;
    align-items: none;
    align-self: flex-end;
    margin-right: 40px;
}
.link-scroll {
    position: absolute;
}
@media (max-width: 768px) {
    nav {
        margin-left: auto;
        margin-top: 46px;
        margin-right: 30px;
    }
    .logo {
        margin-left: 30px;
        margin-top: 30px;
    }
    .hero-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .puppy {
        width: 100%;
        height: auto;
        margin-top: 13.02%;
        max-width: 567px;
        height: auto;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 42px;
        margin-top: 60px;
        width: fit-content;
        align-self: center;
        align-items: center;
    }
    .hero-title {
        font-family: 'Alike Angular', serif;
        font-size: 43.3px;
        font-weight: 400;
        line-height: 57px;
        color:#FFFFFF;
        max-width: 310px;
        align-self: flex-start;
    }
    .about {
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
    .about-icon {
        margin-left: 0px;
        margin-top: 0px;
    }
    .about-info {
        margin-top: 80px;
    }
    #blok-for-768px {
        display: none;
    }
    .friends-intro {
        gap: 40px;
    }
    .left-arrow {
        left: 30px;
    }
    .right-arrow {
        right: 30px;
    }
    .help-images {
        display: none;
    }
    .help-container-with-cards-768px {
        display: flex;
        flex-wrap: wrap;
        max-width: 630px;
        height: 100%;
        row-gap: 60px;
        justify-content: center;
        column-gap: 55px;
        margin-bottom: 100px;
        align-items: center;
    }
    .help-cards {
        width: 170px;
        height: 113px;
    }
    .in-addition-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
    }
    .addition-dog-image {
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .donation-zone {
        justify-content: center;
        margin-bottom: 0px;
    }
    .footer-container {
        background: url(../../assets/images/transparent-bg.png),
        radial-gradient(86% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 65px;
        justify-content: center;
    }
    .footer-first-column {
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .footer-second-column {
        margin-top: 30px;
    }
    .footer-dog-image {
        background-position: center;
        margin: 0px;
    }
}

@media (max-width: 320px) {
    .logo {
        margin-left: 10px;
    }
    .hero-container {
        max-width: 320px;
    }
    .hero {
        max-width: 320px;
        margin-top: 60px;
        align-items: center;
    }
    .hero-title {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
    }
    .puppy {
        margin-top: 105px;
        margin-left: 50px;
        max-width: 260px;
        height: auto;
    }
    .hero-text {
        text-align: center;
        max-width: 300px;
    }
    .about {
        gap: 42px;
    }
    .about-icon {
        background-image: url('../../assets/images/about-pets-320.png');
        background-repeat: no-repeat;
        max-width: 260px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .about-info {
        gap: 22px;
        margin-top: 42px;
        height: auto;
    }
    .about-title {
        font-size: 25px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;
    }
    .about-text {
        font-size: 16.05px;
        margin-left: 15px;
        margin-right: 15px;
        word-spacing: 3px;
    }
    .friends-container {
        gap: 0px;
    }
    .friends-title {
        font-size: 25px;
        line-height: 32.5px;
        height: fit-content;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    .friends-intro {
        gap: 0px;
    }
    .friends-card:nth-child(2) {
        display: none;
    }
    .friends-card:nth-child(4) {
        display: none;
    }
    .friends-card {
        margin: 0 auto;
    }
    .right-arrow {
        top: 603px;
        right: 68px;
    }
    .left-arrow {
        top: 603px;
        left: 68px;
    }
    .friends-button {
        margin-bottom: 42px;
        margin-top: 114px;
    }
    .help-container-with-cards-768px {
        display: flex;
        flex-wrap: wrap;
        max-width: 290px;
        height: fit-content;
        gap: 30px;
        margin-bottom: 42px;
        margin: 0 auto;
    }
    .help-cards {
        width: 130px;
        height: 87px;
        font-size: 15px;
        line-height: 16px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 0px;
    }
    .help-container {
        gap: 0px;
        padding-bottom: 42px;
    }
    .first-image-help {
        background-image: url(../../assets/icons/icon-pet-food.svg);
        background-size: contain;
        max-width: 50px;
        height: 50px;
    }
    .second-image-help {
        background-image: url(../../assets/icons/icon-transportation.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .third-image-help {
        background-image: url(../../assets/icons/icon-toys.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .fourth-image-help {
        background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .fiveth-image-help {
        background-image: url(../../assets/icons/icon-shampoos.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .six-image-help {
        background-image: url(../../assets/icons/icon-vitamins.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .seventh-image-help {
        background-image: url(../../assets/icons/icon-medicines.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .eighth-image-help {
        background-image: url(../../assets/icons/icon-collars-leashes.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .nineth-image-help {
        background-image: url(../../assets/icons/icon-sleeping-area.svg);
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .in-addition-container {
        gap: 42px;
        margin: 0 auto;
    }
    .addition-dog-image {
        margin-bottom: 42px;
        max-width: 260px;
        height: 135.2px;
    }
    .donation-zone {
        width: 300px;
        height: 281px;
        margin-top: 42px;
        margin-bottom: 0px;
        align-items: center;
    }
    .in-addition-title {
        margin-top: 0px;
        font-size: 25px;
        align-content: center;
        line-height: 32.5px;
        height: 64px;
        text-align: center;
    }
    .small-donation-text {
        line-height: 24px;
    }
    .donation-card-area {
        max-width: 281px;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    .card-number {
        font-size: 15px;
        font-weight: 400;
        line-height: 16.5px;
        letter-spacing: 1.5px;
    }
    .big-donation-text {
        font-size: 13px;
        line-height: 18px;
        word-spacing: 2px;
        text-align: center;
    }
    .footer-container {
        flex-direction: row-reverse;
        gap: 40px;
    }
    .footer-first-column {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
        margin-left: 0px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 0px;
    }
    .footer-second-column {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: fit-content;
        height: fit-content;
        margin-top: 0px;
    }
    .footer-title {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        width: 265px;
    }
    .contacts-area {
        justify-content: center;
    }
    .footer-dog-image {
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 260px;
        height: 269px;
    }
}
.modale-image {
    border-radius: 20px;
    max-width: 350px;
}
.modale-window-close {
    border-radius: 20px;
    width: 630px;
    gap: 11px;
}
.modale-info {
    gap: 20px;
    margin-top: 10px;
}
.modale-text {
    max-width: 260px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.65px;
}
.modale-parameters {
    gap: 5px;
}
@media (max-width: 1279px) {
    .modale-image {
        max-width: 350px;
    }
    .modale-window-close {
        width: 630px;
        gap: 11px;
    }
    .modale-info {
        gap: 20px;
        margin-top: 10px;
    }
    .modale-text {
        max-width: 260px;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.65px;
    }
    .modale-parameters {
        gap: 5px;
    }
}

@media (max-width: 767px) {
    .nav-list {
        display: none;
    }
    .b1, .b2, .b3 {
        width: 40px;
        height: 3px;
        background-color: #F1CDB3;
        margin: 10px 0;
        transition: 0.3s;
        display: block;
    }
    .burger {
        z-index: 100;
        padding-top: 41px;
        padding-right: 53px;
    }
    .close-burger-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #292929;
        width: 320px;
        right: -320px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 32px;
        line-height: 51.2px;
        transition: 1s;
    }
    .open-burger-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #292929;
        width: 320px;
        right: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 32px;
        line-height: 51.2px;
        transition: 1s;
        z-index: 99;
    }
    .burger-nav-list {
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        gap: 40px;
        align-items: center;
        list-style: none;
        z-index: 0;
    }
    .burger-nav-link {
        text-decoration: none;
        color: #FAFAFA;
        cursor: pointer;
    }
    .burger-nav-link:hover {
        text-decoration: underline;
        text-decoration-color: #F1CDB3;
        text-decoration-thickness: 3.5px;
        text-underline-offset: 10px;
    }
    #active-burger-nav-link {
        color: #FAFAFA;
        text-decoration: underline;
        text-decoration-color: #F1CDB3;
        text-decoration-thickness: 3.5px;
        text-underline-offset: 10px;
        cursor: pointer;
    }
    .modale-image {
        display: none;
    }
    .modale-window-close {
        width: 240px;
        gap: 0px;
        border-radius: 10px;
        justify-content: center;
    }
    .modale-window-active {
        text-align: center;
    }
    .modale-info {
        gap: 22px;
        margin-top: 10px;
    }
    .modale-text {
        max-width: 220px;
        text-align: left;
    }
    .modale-parameters {
        margin-bottom: 10px;
        text-align: left;
    }
}
@media (min-width: 1280px) {
    .modale-window-close {
        display: none;
        z-index: 100;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        height: fit-content;
        background-color: #FAFAFA;
        gap: 30px;
    }
    .modale-window-active {
        border-radius: 30px;
        z-index: 100;
        display: flex;
    }
    .modale-image {
        border-radius: 30px;
        max-width: 500px;
        height: auto;
    }
    .modale-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-family: 'Alike Angular', serif;
        font-weight: 400;
        margin-top: 50px;
        color: black;
        letter-spacing: 1px;
    }
    .modale-title {
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .modale-under-title {
        font-size: 20px;
        line-height: 23px;
    }
    .modale-text {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        font-size: 15px;
        line-height: 17px;
    }
    .modale-parameters {
        font-size: 15px;
        line-height: 16.5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}